div[b-2hsj6j6moh] {
    position: relative
}

nav[b-2hsj6j6moh] {
    top: .4em;
    /* width: 51%; */
    display: inline-flex;
    flex-direction: row;
    /* padding: 0 .3rem; */
    font-size: 2em;
    position: relative;
    margin: 1rem 0;
    left: .1rem;
}

nav span[b-2hsj6j6moh] {
    width: fit-content;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    color: var(--board-bg);
    margin: 0 1.2rem;
    scale: 2;
    transition: scale .5s;
    text-shadow: 0 0 3px var(--board-bg);
    z-index: 1;

}

nav>span:hover[b-2hsj6j6moh] {
    scale: 2.3;
}

nav>.player-1-color:hover[b-2hsj6j6moh] {
    text-shadow: 0 1px 3px var(--player1);
}

nav>.player-2-color:hover[b-2hsj6j6moh] {
    text-shadow: 0 1px 3px var(--player2);
}


nav>span:active[b-2hsj6j6moh] {
    scale: 1.95;
}

.scoreboard[b-2hsj6j6moh] {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5em;
    color: var(--board-bg);
    text-shadow: 0 0 3px var(--board-bg);
}

.scoreboard span div[b-2hsj6j6moh] {
    font-size: 1.3rem;
    text-align: center;
}

.scoreboard .player-1[b-2hsj6j6moh] {
    color: var(--player1);
}

.scoreboard .player-2[b-2hsj6j6moh] {
    color: var(--player2);
}

div.board[b-2hsj6j6moh] {
    margin-top: 1em;
    flex-wrap: wrap;
    width: 30em;
    height: 24em;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -5;
    row-gap: 0;
    pointer-events: none;
    border-left: 10px solid var(--board-bg);
    border-radius: 15px;
}

span.container[b-2hsj6j6moh] {
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    z-index: -2;
    pointer-events: none;
    border-radius: 5px;
}

.container span[b-2hsj6j6moh] {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    box-shadow: 0 0 0 3em var(--board-bg);
    left: 0;
    position: absolute;
    display: block;
    z-index: 5;
    pointer-events: none
}

.msg-report-container[b-2hsj6j6moh] {
    display: block;
    justify-self: center;
    padding: 1rem;
    border-radius: 25px 20px 20px 5px;
    background-color: rgba(80, 80, 80, 0.9);
    color: white;
}

.msg-report-container>button[b-2hsj6j6moh] {
    border: none;
    border-radius: 10px;
    padding: .5rem;
    box-shadow: 0 0 5px whitesmoke;
    background-color: black;
    color: whitesmoke;
    margin: 0 .5rem;
}

button:hover[b-2hsj6j6moh] {
    scale: 1.02;
    transition: scale .2s;
}

button:active[b-2hsj6j6moh] {
    scale: .95;
}

.player1[b-2hsj6j6moh],
.player2[b-2hsj6j6moh] {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    z-index: -8
}

.player1[b-2hsj6j6moh] {
    background-color: var(--player1);
    animation-timing-function: cubic-bezier(.5, .05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player1)
}

.player2[b-2hsj6j6moh] {
    background-color: var(--player2);
    animation-timing-function: cubic-bezier(.5, .05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player2)
}

.col0[b-2hsj6j6moh] {
    left: calc(0em + 9px)
}

.col1[b-2hsj6j6moh] {
    left: calc(4em + 9px)
}

.col2[b-2hsj6j6moh] {
    left: calc(8em + 9px)
}

.col3[b-2hsj6j6moh] {
    left: calc(12em + 9px)
}

.col4[b-2hsj6j6moh] {
    left: calc(16em + 9px)
}

.col5[b-2hsj6j6moh] {
    left: calc(20em + 9px)
}

.col6[b-2hsj6j6moh] {
    left: calc(24em + 9px)
}

.drop1[b-2hsj6j6moh] {
    animation-duration: 1s;
    animation-name: drop1-b-2hsj6j6moh
}

.drop2[b-2hsj6j6moh] {
    animation-duration: 1.5s;
    animation-name: drop2-b-2hsj6j6moh
}

.drop3[b-2hsj6j6moh] {
    animation-duration: 1.6s;
    animation-name: drop3-b-2hsj6j6moh
}

.drop4[b-2hsj6j6moh] {
    animation-duration: 1.7s;
    animation-name: drop4-b-2hsj6j6moh
}

.drop5[b-2hsj6j6moh] {
    animation-duration: 1.8s;
    animation-name: drop5-b-2hsj6j6moh
}

.drop6[b-2hsj6j6moh] {
    animation-duration: 1.9s;
    animation-name: drop6-b-2hsj6j6moh
}

@keyframes drop1-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(1.27em)
    }

    80% {
        transform: translateY(.4em)
    }

    95% {
        transform: translateY(.8em)
    }

    99% {
        transform: translateY(1em)
    }
}

@keyframes drop2-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(5.27em)
    }

    80% {
        transform: translateY(3.8em)
    }

    95% {
        transform: translateY(4.6em)
    }

    99% {
        transform: translateY(4.9em)
    }
}

@keyframes drop3-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(9.27em)
    }

    80% {
        transform: translateY(7.2em)
    }

    95% {
        transform: translateY(8.3em)
    }

    99% {
        transform: translateY(8.8em)
    }
}

@keyframes drop4-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(13.27em)
    }

    80% {
        transform: translateY(10.6em)
    }

    95% {
        transform: translateY(12em)
    }

    99% {
        transform: translateY(12.7em)
    }
}

@keyframes drop5-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(17.27em)
    }

    80% {
        transform: translateY(14em)
    }

    95% {
        transform: translateY(15.7em)
    }

    99% {
        transform: translateY(16.5em)
    }
}

@keyframes drop6-b-2hsj6j6moh {

    100%,
    75%,
    90%,
    97% {
        transform: translateY(21.27em)
    }

    80% {
        transform: translateY(17.4em)
    }

    95% {
        transform: translateY(19.4em)
    }

    99% {
        transform: translateY(20.4em)
    }
}